<!-- wp:template-part {"slug":"header","theme":"lgg-2024","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"80px","bottom":"80px"}}},"className":"site-content"} -->
<main class="wp-block-group site-content" style="padding-top:80px;padding-bottom:80px"><!-- wp:heading {"textAlign":"center","fontSize":"gigantic"} -->
    <h2 class="wp-block-heading has-text-align-center has-gigantic-font-size">Oops that page doesn't exist.</h2>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center"} -->
    <p class="has-text-align-center">Sorry we couldn't find what you're looking for!</p>
    <!-- /wp:paragraph --></main>
    <!-- /wp:group -->
    
<!-- wp:template-part {"slug":"footer","theme":"lgg-2024","tagName":"footer","className":"site-footer"} /-->