<!-- wp:template-part {"slug":"header","theme":"lgg-2024","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"40px","bottom":"40px"}}},"className":"site-content blog"} -->
<main class="wp-block-group site-content blog" style="padding-top:40px;padding-bottom:40px"><!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"width":""} -->
    <div class="wp-block-column"><!-- wp:group -->
    <div class="wp-block-group"><!-- wp:post-title /-->
    
    <!-- wp:post-featured-image /-->
    
    <!-- wp:post-content /-->
    
    <!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:post-navigation-link {"type":"previous"} /--></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:post-navigation-link {"textAlign":"right"} /--></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    
    <!-- wp:comments {"className":"wp-block-comments-query-loop "} -->
    <div class="wp-block-comments wp-block-comments-query-loop"><!-- wp:comments-title /-->
    
    <!-- wp:comment-template -->
    <!-- wp:columns -->
    <div class="wp-block-columns"><!-- wp:column {"width":"40px"} -->
    <div class="wp-block-column" style="flex-basis:40px"><!-- wp:avatar {"size":40,"style":{"border":{"radius":"20px"}}} /--></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:comment-author-name /-->
    
    <!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex"}} -->
    <div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:comment-date /-->
    
    <!-- wp:comment-edit-link /--></div>
    <!-- /wp:group -->
    
    <!-- wp:comment-content /-->
    
    <!-- wp:comment-reply-link /--></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    <!-- /wp:comment-template -->
    
    <!-- wp:comments-pagination /-->
    
    <!-- wp:post-comments-form /--></div>
    <!-- /wp:comments --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"width":"300px","style":{"spacing":{"blockGap":"var:preset|spacing|1"}}} -->
    <div class="wp-block-column" style="flex-basis:300px"><!-- wp:group {"style":{"spacing":{"padding":{"top":"40px","right":"15px","bottom":"40px","left":"15px"},"margin":{"top":"var:preset|spacing|1","bottom":"var:preset|spacing|1"}}},"backgroundColor":"og-purple","textColor":"white"} -->
    <div class="wp-block-group has-white-color has-og-purple-background-color has-text-color has-background" style="margin-top:var(--wp--preset--spacing--1);margin-bottom:var(--wp--preset--spacing--1);padding-top:40px;padding-right:15px;padding-bottom:40px;padding-left:15px"><!-- wp:heading {"textAlign":"center","level":4} -->
    <h4 class="wp-block-heading has-text-align-center">Ready to dive in?</h4>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center"} -->
    <p class="has-text-align-center">Book your Free Holistic Consultation now to begin your journey.</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
    <div class="wp-block-buttons"><!-- wp:button {"className":"is-style-mauve-btn"} -->
    <div class="wp-block-button is-style-mauve-btn"><a class="wp-block-button__link wp-element-button" href="https://www.drbrookestuart.com/free-consult/">Learn More</a></div>
    <!-- /wp:button --></div>
    <!-- /wp:buttons --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"40px","right":"15px","bottom":"40px","left":"15px"},"margin":{"top":"var:preset|spacing|1","bottom":"var:preset|spacing|1"},"blockGap":"var:preset|spacing|1"}},"backgroundColor":"light-pink","textColor":"deep-green"} -->
    <div class="wp-block-group has-deep-green-color has-light-pink-background-color has-text-color has-background" style="margin-top:var(--wp--preset--spacing--1);margin-bottom:var(--wp--preset--spacing--1);padding-top:40px;padding-right:15px;padding-bottom:40px;padding-left:15px"><!-- wp:paragraph {"align":"center","fontSize":"medium"} -->
    <p class="has-text-align-center has-medium-font-size">Ever wish you could reset, clear the slate and start fresh? <br>You can.</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:paragraph {"align":"center","style":{"typography":{"fontSize":"1.4rem"}}} -->
    <p class="has-text-align-center" style="font-size:1.4rem">CLICK HERE TO RESET YOUR MIND AND BODY!</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
    <div class="wp-block-buttons"><!-- wp:button {"className":"is-style-d-green-btn"} -->
    <div class="wp-block-button is-style-d-green-btn"><a class="wp-block-button__link wp-element-button" href="https://letgoandgrow.com/mind-body-reset/">Learn More</a></div>
    <!-- /wp:button --></div>
    <!-- /wp:buttons --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"40px","right":"15px","bottom":"40px","left":"15px"},"margin":{"top":"0","bottom":"0"},"blockGap":"var:preset|spacing|1"}},"backgroundColor":"hot-pink","textColor":"white"} -->
    <div class="wp-block-group has-white-color has-hot-pink-background-color has-text-color has-background" style="margin-top:0;margin-bottom:0;padding-top:40px;padding-right:15px;padding-bottom:40px;padding-left:15px"><!-- wp:paragraph {"align":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|light-pink"}}}},"textColor":"light-pink","fontSize":"medium"} -->
    <p class="has-text-align-center has-light-pink-color has-text-color has-link-color has-medium-font-size">Join&nbsp;<strong>heartbeat,&nbsp;</strong>our email newsletter, to receive instant access to a unique collection of resources, from free workshops to downloads, to help you make changes that last.</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:image {"id":17567,"sizeSlug":"full","linkDestination":"none"} -->
    <figure class="wp-block-image size-full"><img src="https://lgg-prod.local/wp-content/uploads/heartbeat-logo.jpeg" alt="" class="wp-image-17567"/></figure>
    <!-- /wp:image -->
    
    <!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
    <div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"light-pink","textColor":"og-purple","style":{"elements":{"link":{"color":{"text":"var:preset|color|og-purple"}}}},"className":"is-style-fill"} -->
    <div class="wp-block-button is-style-fill"><a class="wp-block-button__link has-og-purple-color has-light-pink-background-color has-text-color has-background has-link-color wp-element-button" href="https://letgoandgrow.com/mind-body-reset/">Learn More</a></div>
    <!-- /wp:button --></div>
    <!-- /wp:buttons --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"padding":{"top":"40px","right":"15px","bottom":"40px","left":"15px"},"margin":{"top":"var:preset|spacing|1","bottom":"var:preset|spacing|1"}}},"borderColor":"hot-pink","backgroundColor":"white","textColor":"hot-pink","fontSize":"large"} -->
    <div class="wp-block-group has-border-color has-hot-pink-border-color has-hot-pink-color has-white-background-color has-text-color has-background has-large-font-size" style="margin-top:var(--wp--preset--spacing--1);margin-bottom:var(--wp--preset--spacing--1);padding-top:40px;padding-right:15px;padding-bottom:40px;padding-left:15px"><!-- wp:paragraph {"align":"center","fontSize":"large"} -->
    <p class="has-text-align-center has-large-font-size">LG&amp;G MERCH 💗</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:image {"id":15395,"sizeSlug":"full","linkDestination":"custom"} -->
    <figure class="wp-block-image size-full"><a href="https://lgg-prod.local/shop/"><img src="https://lgg-prod.local/wp-content/uploads/LGG-hat-green-e1643238741982.webp" alt="" class="wp-image-15395"/></a></figure>
    <!-- /wp:image -->
    
    <!-- wp:paragraph {"align":"center","style":{"typography":{"fontSize":"1.4rem"}}} -->
    <p class="has-text-align-center" style="font-size:1.4rem"><em>Shop LG&amp;G Merch to support our mission.</em></p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group -->
    
    <!-- wp:search {"label":"","buttonText":"Search","buttonUseIcon":true,"backgroundColor":"periwinkle","textColor":"og-purple"} /--></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></main>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"lgg-2024","tagName":"footer"} /-->